
<div>
	<% _.each(recipes, function (recipe) { %>
		<a href="/recipes/<%= recipe.get('id') %>/"> <!-- TODO: update URL when its ready -->
			<div class="recipe_box">
				<div style="text-align: center;">
					<img class="recipe"
					<% if (recipe.get('photos').length == 0) { %>
							src="<%= default_images[random(0, default_images.length)] %>"
					<% } else { %>
							src="data:image/jpeg;base64,<%= recipe.get('photos')[0] %>"
					<% } %>
					/>
				</div>
				<div><%= recipe.get('rank') %></div>	<!-- TODO: use stars -->
				<p><%= recipe.get('dishname') %></p>
			</div>
		</a>
	<% }); %>
</div>

