<% _.each(comments, function (comment) { %>
    <div class="comment">
        <img class="avatar" src="/images/star_red_full.png"/>
        <div class="right_part"> 
        <div><a class="sansie_one" href="/#/recipes/<%= comment.get('recipe_id')%>/"><%= comment.get('recipe_name')%></a></div>
            <div>
                <b><a href="/#/users/<%= comment.get('author_id')%>/"><%= comment.get('author_name') %></a></b>
                <span class="time"><%= comment.get('date').replace('T',' ').replace(/\..*/, '') %></span></div>
            <div>
                <span style="float: left; margin-right: 20px;">
                    <abbr title="taste: <%= comment.get('taste') %>">
                        <span class="stars_taste">
                            <%= comment.get('taste') %>
                        </span>
                    </abbr>
                </span>
                <abbr title="difficulty: <%= comment.get('difficulty') %>">                
                    <span class="stars_difficulty">
                        <%= comment.get('difficulty') %>
                    </span>
                </abbr>
            </div>
            <div class="text">
                <%= comment.get('text') %>
            </div>
        </div>
        <div class="clear_div"></div>
    </div>
<% }); %>
