
<div id="panel_top">
    <a class="top" href="/#/search/lastadded/page/1">NEW</a>
    <span>|</span>
    <a class="top" href="/#/search/bestrated/page/1">BEST</a>
    <span>|</span>
    <span class="top">SEARCH
        <form id="form-search" method="POST">
            <input type="text" id="searchtext" placeholder=" search by name" pattern="\s{0}(\w|\d).*" maxlength="240" required/>
            <input type="submit" id="searchbutton" value=""/>
        </form>
    </span>
    <span>|</span>
    <div id="advanced_search" style="display:inline; cursor: pointer;">
        <a class="top">ADVANCED SEARCH</a>
    </div>
    
    <div id="actions_button1">
        <span style="padding-right:10px;"><%= user_name %></span>
        <img src="/images/action16.png" id="actions_button2"/>
    </div>
</div>
	
<div id="user_actions">
    <a class="top"href="addnew.html">Recipes</a><br/>
    <a class="top"href="comments.html">Comments</a><br/>
    <a class="top"href="recommended.html">For You</a><br/>
    <a name="logout" class="top">Log out</a><br/>
</div>


<div>
    <div id="advanced-search-form" style="width:400px;">
        <form  class="in_main" action="">

            <label class="label">Ingredients you have: </label>
            <input name="ingredient" type="text" list="ingredients_list" autocomplete="off"/>
            <datalist id="ingredients_list">
                <%  _.each(ingredients_list, function (ingredient) { %>
                    <option value="<%= ingredient.get('name') %>">
                <% });%>
            </datalist>

            <button class="advanced-search-add green_button" onsubmit="">Add</button><br/>
            <div id="advanced-search-added">
                
            </div>
            
            <div style="text-align:center;">
                <button id="advanced-search-submit" class="green_button" onsubmit="">Search</button>
            </div>
        </form>
    </div>
</div>
