
<div id="panel_top">
    <a class="top" href="/#/search/lastadded/page/1">NEW</a>
    <span>|</span>
    <a class="top" href="/#/search/bestrated/page/1">BEST</a>
    <span>|</span>
    <span class="top">SEARCH
        <form id="form-search" method="POST">
            <input type="text" id="searchtext" placeholder=" search by name" pattern="\s{0}(\w|\d).*" maxlength="240" required/>
            <input type="submit" id="searchbutton" value=""/>
        </form>
    </span>
    <span>|</span>
    <a class="top" href="advanced.html">ADVANCED SEARCH</a>
    <div id="actions_button1">
        <span>illa</span><!-- user name -->
        <img src="/images/action16.png" id="actions_button2"/>
    </div>
</div>
	
<div id="user_actions">
    <a class="top"href="addnew.html">Recipes</a><br/>
    <a class="top"href="comments.html">Comments</a><br/>
    <a class="top"href="recommended.html">For You</a><br/>
    <a name="logout" class="top">Log out</a><br/>
</div>

