	<div id="panel_top">
		<a class="top" href="results.html">NEW</a> | 
		<a class="top" href="results.html">BEST</a> | 
		<span class="top">SEARCH
			<form action="results.html" method="get" autocomplete="off">
				<input name="search" type="text" id="searchtext" placeholder=" search by name" maxlength="240"/>
				<input type="submit" id="searchbutton" value=""/>
			</form>
		</span>
	|	<a class="top" href="advanced.html">ADVANCED SEARCH</a>
		<div id="log_in">
			<a href="logged.html" class="top">LOG IN</a>
		</div>	
	</div>
