<script type="text/javascript">
    $(document).ready(function ()
    {
        var firstValue = Math.floor((Math.random()*10)+1);
        var secondValue = Math.floor((Math.random()*10)+1);
        document.getElementById("fNum").innerHTML = firstValue;
        document.getElementById("sNum").innerHTML = secondValue;
    });
</script>

<div id="panel_top">
    <a class="top" href="#/search/lastadded/page/1/">NEW</a>
    <span>|</span>
    <a class="top" href="results.html">BEST</a>
    <span>|</span>
    <span class="top">SEARCH
        <form action="results.html" method="get" autocomplete="off">
            <input name="search" type="text" id="searchtext" placeholder=" search by name" maxlength="240"/>
            <input type="submit" id="searchbutton" value=""/>
        </form>
    </span>
    <span>|</span>
    <a class="top" href="advanced.html">ADVANCED SEARCH</a>
    <div id="log_in">
        <a class="top">LOG IN</a>
    </div>
	<div id="register">
		<a class="top">REGISTER</a>
	</div>
</div>

<div>
    <div id="login-form">
        <form action="">
            <span><input type="email" name="email" placeholder="email address" required/></span><br/>
            <span><input type="password" name="password" placeholder="password" required/></span><br/>
            <br/>
            <span><input id="button" type="submit" class="green_button" value="Sign in"/></span>
        </form>
    </div>
</div>

<div>
    <div id="reg-form">
        <form action="" name="registerform" id="registerform" autocomplete="off">
			<span><input type="email" name="email" id="email" placeholder="email address" required/></span><br/>
			<span><input type="password" name="pass" id="pass" placeholder="enter password" required/></span><br/>
			<span><input type="password" name="repass" id="repass" placeholder="repeat password" required/></span><br/>
            <span><label>Before submitting confirm that You are not a chicken!</label><br/>
			<span><label id="fNum">2</label> + <span><label id="sNum">2</label>=
			<span><input type="text" id="check" name="check" required//>
			<span><input id="button1" type="submit" class="green_button" value="Sign up"/></span>
        </form>
    </div>
</div>

