
<div id="panel_top">
    <a class="top" href="#/search/lastadded/page/1/">NEW</a>
    <span>|</span>
    <a class="top" href="results.html">BEST</a>
    <span>|</span>
    <span class="top">SEARCH
        <form action="results.html" method="get" autocomplete="off">
            <input name="search" type="text" id="searchtext" placeholder=" search by name" maxlength="240"/>
            <input type="submit" id="searchbutton" value=""/>
        </form>
    </span>
    <span>|</span>
    <a class="top" href="advanced.html">ADVANCED SEARCH</a>
    <div id="log_in">
        <a class="top">LOG IN</a>
    </div>
</div>

<div>
    <div id="login-form">
        <form action="">
            <span><input type="email" name="email" placeholder="email address" required/></span><br/>
            <span><input type="password" name="password" placeholder="password" required/></span><br/>
            <br/>
            <span><input id="button" type="submit" class="green_button" value="Sign in"/></span>
        </form>
    </div>
</div>

