
<% if (my_recipe) { %>
	<div style="margin: 20px 0px -20px 0px; text-align: right;">
		<button class="recipe_view_edit green_button" >
			Edit
			<img style="width: 16px; height: 16px;" src="images/btn_edit.png">
		</button>
		<button class="recipe_view_remove green_button" >
			Remove
			<img style="width: 16px; height: 16px;" src="images/btn_remove.png">
		</button>
	</div>
<% } %>

<div class="title"><h2><%= recipe['dish_name'] %></h2></div>

<div style="margin: 10px 0px 20px 20px;">
	<% if (favorite) {%>
		<span class="recipe_view_remove_favorite" >
			<img style="width: 16px; height: 16px;" src="images/heart.png">
			<span class="sansie_one">Remove from favorite recipes</span>
		</span>
	<% } else { %>
		<span class="recipe_view_add_favorite">
			<img style="width: 16px; height: 16px;" src="images/heart.png">
			<span class="sansie_one">Add to favorite recipes</span>
		</span>
	<% } %>
</div>

<div style="margin-bottom:20px;">
    <span class="sub_title">Tags: &nbsp; </span>
    <% _.each(recipe['tags'], function (tag) { %>
        <a href="/#/search/tag/<%= tag.id %>/1"><button class="green_button"><%= tag['name'] %></button></a>
    <% }); %>
</div>

<img class="big_image" alt=""
    <% if (recipe['photos'].length == 0) { %>
        src="<%= getDefaultImage() %>"
    <% } else { %>
        src="<%= getImageUrl(recipe['photos'][0]) %>"
    <% } %>
/>

<div class="recipe_info_table">
    
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>author:</b></div>
        <div class="recipe_info_c2"><a href="/#/users/<%= recipe['author_id'] %>/"><%= recipe['author_name'] %></a></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>time:</b></div>
        <div class="recipe_info_c2"><%= recipe['preparation_time'] %></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>servings:</b></div>
        <div class="recipe_info_c2"><%= recipe['portions'] %></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>taste (by users):</b></div>
        <div class="recipe_info_c2"><abbr title="<%= recipe['taste_comments'] %>"><div class="stars_taste_comments"></div></abbr></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>difficulty:</b></div>
        <div class="recipe_info_c2"><abbr title="<%= recipe['difficulty'] %>"><div class="stars_difficulty"></div></abbr></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>difficulty (by users):</b></div>
        <div class="recipe_info_c2"><abbr title="<%= recipe['difficulty_comments'] %>"><div class="stars_difficulty_comments"></div></abbr></div>
    </div>
</div>

<div class="clear_div">

    <h4 class="sub_title">Ingredients</h4>

    <table class="recipe_ingredients">
        <% _.each(ingredients1, function (ingredient) { %>
            <tr>
                <td class="right">
                    <%= ingredient['amount'] %>
                    <%= ingredient['unit_name'] %>
                </td>
                <td>&times;</td>
                <td><%= ingredient['ingr_name'] %></td>
            </tr>
        <% }); %>
    </table>

    <table class="recipe_ingredients">
        <% _.each(ingredients2, function (ingredient) { %>
            <tr>
                <td class="right">
                    <%= ingredient['amount'] %>
                    <%= ingredient['unit_name'] %>
                </td>
                <td>&times;</td>
                <td><%= ingredient['ingr_name'] %></td>
            </tr>
        <% }); %>
    </table>

</div>

<div class="clear_div">
    <h4 class="sub_title">Directions</h4>
    <div id="directions">
    <%= recipe['recipe_text'].replace(/\n/g,'<br/><br/>') %>
    </div>
</div>

