<div class="title"><h2><%= recipe.get('dish_name') %></h2></div>
<div style="margin-bottom:20px;">
    <span class="sub_title">Tags: &nbsp; </span>
    <% _.each(recipe.get('tags'), function (tag) { %>
        <a href="/#/search/tag/<%= tag.id %>/1"><button class="green_button"><%= tag['name'] %></button></a>
    <% }); %>
</div>

<img class="big_image" alt="" src="img2/recipe6.jpg"/>

<div class="recipe_info_table">
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>author:</b></div>
        <div class="recipe_info_c2"><a href="/#/users/<%= recipe.get('author_id') %>/"><%= recipe.get('author_name') %></a></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>time:</b></div>
        <div class="recipe_info_c2"><%= recipe.get('preparation_time') %></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>servings:</b></div>
        <div class="recipe_info_c2"><%= recipe.get('portions') %></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>taste (by users):</b></div>
        <div class="recipe_info_c2"><abbr title="<%= recipe.get('taste_comments') %>"><div class="stars_taste_comments"></div></abbr></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>difficulty:</b></div>
        <div class="recipe_info_c2"><abbr title="<%= recipe.get('difficulty') %>"><div class="stars_difficulty"></div></abbr></div>
    </div>
    <div class="normal_table_row">
        <div class="recipe_info_c1"><b>difficulty (by users):</b></div>
        <div class="recipe_info_c2"><abbr title="<%= recipe.get('difficulty_comments') %>"><div class="stars_difficulty_comments"></div></abbr></div>
    </div>
</div>

<div class="clear_div">

    <h4 class="sub_title">Ingredients</h4>

    <table class="recipe_ingredients">
        <% _.each(ingredients1, function (ingredient) { %>
            <tr>
                <td class="right">
                    <%= ingredient['amount'] %>
                    <%= ingredient['unit_name'] %>
                </td>
                <td>&times;</td>
                <td><%= ingredient['ingr_name'] %></td>
            </tr>
        <% }); %>
    </table>

    <table class="recipe_ingredients">
        <% _.each(ingredients2, function (ingredient) { %>
            <tr>
                <td class="right">
                    <%= ingredient['amount'] %>
                    <%= ingredient['unit_name'] %>
                </td>
                <td>&times;</td>
                <td><%= ingredient['ingr_name'] %></td>
            </tr>
        <% }); %>
    </table>

</div>

<div class="clear_div">
    <h4 class="sub_title">Directions</h4>
    <div id="directions">
    <%= recipe.get('recipe_text').replace(/\n/g,'<br/><br/>') %>
    </div>
</div>

