<!DOCTYPE html>
<html>
	<head>

    <link rel="stylesheet" type="text/css" href="../css/editor.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-te-1.4.0.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script type="text/javascript" src="../js/libs/jquery-te-1.4.0.min.js"></script>
	
  </head>
 	<body>
  
    <textarea name="textarea" id="textarea" class="area"></textarea>
    <script>
      $('.area').jqte({ sub : false,
                        sup : false,
                        remove : false,
                        rule : false,
                        source : false});
    </script>

    <button name="postButton" id="postButton" class="pbutton" type="button" action="#" autofocus>Post</button>

 	</body>
</html>