<div>
    <span class="title">Avatar</span><br/>
    <div id="settings-avatar-messages">
        <div class="msg msg-error hidden" name="error">Uploading new avatar failed!</div>
    </div>
    <div>
        <p>Select new avatar to upload, old will be lost!</p>
        <div style="float: left;">
            <form id="form-change-avatar">
                <input type="file" name="file" required/>
                <input type="hidden" name="user_id" value="<%= user.get('id') %>" required/>
            </form>
        </div>
        <div style="float: right;">
            <button id="btn-delete-avatar">Remove</button>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="text-align: center;">
        <img class="avatar" src="<%= getImage() %>"><br/>
    </div>
    <progress style="width: 100%;" class="hidden" min="0" max="100" value="0"/>
</div>

