<div class="user_info">
    <img class="avatar" src="img2/av1.jpg"/>
    <h2 class="title"><%= user.get('email') %></h2>

    <div class="user_info_table">
        <div class="big_table_row">
            <div class="user_info_c1"><b>recipes:</b></div>
            <div class="user_info_c2"><%= user.get('recipes') %></div>
        </div>
        <div style="padding-top:2px;padding-bottom:8px;">
            <div class="user_info_c1"><b>comments:</b></div>
            <div class="user_info_c2"><%= user.get('comments') %></div>
        </div>
        <div class="normal_table_row">
            <b>member since:</b>
        </div>
        <div class="big_table_row">
            <%= user.get('register_date').replace('T',' ').replace(/\..*/, '') %>
        </div>
        <div class="normal_table_row">
            <b>last seen:</b>
        </div>
        <div class="big_table_row">
            <%= user.get('last_seen_date').replace('T',' ').replace(/\..*/, '') %>
        </div>
        <div class="normal_table_row">
            <b>average rate:</b>
        </div>
        <div class="big_table_row">
            <abbr title="<%= user.get('average_rate') %>"><div class="stars_average_rate"></div></abbr>
        </div>
    </div>
</div>
